<!-- Gifs introduction -->
<section id="introduction"
    class="flex justify-center bg-gradient-to-b from-[#fbfbfe] to-[rgba(115,165,223,0.5)] px-4 sm:px-6">
    <div class="flex w-full max-w-6xl flex-col gap-8 md:flex-row">
        <% introduction.cards.forEach(card => { %>
            <article class="<%= introduction.cardStyles.wrapperStyle %>">
                <img 
                    src="<%= card.image.src %>" 
                    alt="<%= card.image.alt %>" 
                    loading="lazy"
                    class="<%= introduction.cardStyles.imageStyle %>" />
                <h3 class="<%= introduction.cardStyles.titleStyle %>"><%= card.title %></h3>
            </article>
        <% }) %>
    </div>
</section>
