<header id="<%= common.adminHeader.id %>" class="fixed top-0 left-0 z-10000 w-full px-4 py-2 bg-[#e5e5eb] shadow-md">
    <div class="<%= common.adminHeader.container.style%>">
        <!-- Left container: logo and admin text -->
        <div class="<%= common.adminHeader.left.containerStyle%>">
            <img 
                src="<%= common.logo.src %>" 
                alt="<%= common.logo.alt %>" 
                class="<%= common.logo.style %>" />
            <span class="<%= common.adminHeader.left.text.content %>">
                <%= common.adminHeader.left.text.content %>
            </span>
        </div>

        <!-- Right container: logout button -->
        <button id="<%= common.adminHeader.right.logoutButton.id %>" type="<%= common.adminHeader.right.logoutButton.type %>"
            class="<%= common.adminHeader.right.logoutButton.style %>">
            <%= common.adminHeader.right.logoutButton.text %>
        </button>
    </div>
</header>