<section id="<%= maps.id %>" class="relative flex flex-col items-center bg-[#b7d0ee] px-6 py-8 scroll-mt-32">
    <!-- Section Title -->
    <h2 class="<%= maps.title.style %>"><%= maps.title.text %></h2>

    <!-- Map Container -->
    <div id="<%= maps.mapContainer.id %>" class="<%= maps.mapContainer.style %>"></div>

    <!-- Coordinates Display -->
    <div class="flex w-full max-w-[1440px] flex-wrap items-center justify-between gap-4 px-6 py-5">
        <h3 class="<%= maps.coordsHeadingStyle %>"><%= maps.coordsHeadingText %></h3>
        <div id="<%= maps.coordsPlaceholderId %>" class="<%= maps.coordsPlaceholderStyle %>"><%= maps.coordsPlaceholderText%></div>
    </div>
</section>