<!DOCTYPE html>
<html lang="en">
<%- include("../../partialsGlobal/head") %>

    <body class="scroll-smooth bg-gray-50 font-inter pb-13 sm:pb-0">
        <%- include("../partials/header")  %>
		<main class="flex flex-col items-center justify-center pt-24">
			
			<section class="w-full">
                <%- include("../pages/dashboardStats") %>
                <%- include("../pages/dashboardMap") %>
                <%- include("../pages/dashboardGraph") %>
            </section>

        </main>
        <%- include("../../partialsGlobal/scripts") %>
    </body>

</html>