<section id="<%= dashboardMap.id %>"
  class="bg-[rgba(228,228,228,0.50)] rounded-[20px] border-2 border-[#d7d7d7] p-[15px] flex flex-col items-center justify-between h-[707px] w-full">
  <!-- Section Title -->
  <h2 class="<%= dashboardMap.title.style %>">
    <%= dashboardMap.title.text %>
  </h2>

  <!-- Map Container -->
  <div id="<%= dashboardMap.mapContainer.id %>" class="<%= dashboardMap.mapContainer.style %>"></div>

  <!-- Buttons Container -->
  <div class="flex gap-4">
    <button id="<%= dashboardMap.toggleHeatmapButton.id %>" class="<%= dashboardMap.toggleHeatmapButton.style %>">
      <%= dashboardMap.toggleHeatmapButton.text %>
    </button>
  </div>

</section>