<section id="<%= dashboardCSV.id %>" class="flex justify-center bg-transparent">
    <div class="<%= dashboardCSV.containerStyle %>">

        <!-- Export dashboardCSV Card -->
        <article class="<%= dashboardCSV.cardStyles.wrapperStyle %>">
            <h3 class="<%= dashboardCSV.cardStyles.titleStyle %>">
                <%= dashboardCSV.cards.export.title %>
            </h3>
            <a href="<%= dashboardCSV.cards.export.action.href %>" class="<%= dashboardCSV.cardStyles.linkStyle %>">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="<%= dashboardCSV.cards.export.action.icon.stroke %>"
                    stroke-width="<%= dashboardCSV.cards.export.action.icon.strokeWidth %>"
                    class="<%= dashboardCSV.cardStyles.iconStyle %>">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="<%= dashboardCSV.cards.export.action.icon.d %>" />
                </svg>
                <span class="<%= dashboardCSV.cardStyles.textStyle %>">
                    <%= dashboardCSV.cards.export.action.text %>
                </span>
            </a>
        </article>

        <!-- Upload dashboardCSV Card -->
        <article class="<%= dashboardCSV.cardStyles.wrapperStyle %>">
            <h3 class="<%= dashboardCSV.cardStyles.titleStyle %>">
                <%= dashboardCSV.cards.upload.title %>
            </h3>
            <form action="<%= dashboardCSV.cards.upload.action.action %>"
                method="<%= dashboardCSV.cards.upload.action.method %>" enctype="multipart/form-data"
                class="<%= dashboardCSV.cardStyles.linkStyle %>">
                <label class="flex items-center gap-3 cursor-pointer">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="<%= dashboardCSV.cards.upload.action.icon.stroke %>"
                        stroke-width="<%= dashboardCSV.cards.upload.action.icon.strokeWidth %>"
                        class="<%= dashboardCSV.cardStyles.iconStyle %>">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="<%= dashboardCSV.cards.upload.action.icon.d %>" />
                    </svg>
                    <span class="<%= dashboardCSV.cardStyles.textStyle %>">
                        <%= dashboardCSV.cards.upload.action.text %>
                    </span>
                    <input type="file" name="<%= dashboardCSV.cards.upload.action.inputName %>"
                        accept="<%= dashboardCSV.cards.upload.action.accept %>" class="hidden"
                        onchange="this.form.submit()" required />
                </label>
            </form>
        </article>

    </div>
</section>